<div class="container w-50"> <br>
<h1 class="text-center">PRODUCT FORM</h1>
 <a href="logout" class="btn btn-success">logout</a>
<form method="post" class="form-control" action="/action1">
 

    <input type="text" class="form-control" name="author" placeholder="author"><br>
    <input type="text" class="form-control" name="bookname" placeholder="book "><br>
    <input type="text" class="form-control" name="price" placeholder="price"><br>
     <input type="date" class="form-control" name="publishdate">
    <input type="text" class="form-control" name="quantity" placeholder="quantity"><br>
     

    <input class="btn btn-danger" type="submit">

 <a href="/product" class="btn btn-danger">productview</a>
 <a href="/userbuy" class="btn btn-danger">userbuy</a>


</form>
</div>
