<div class="container w-50">
<h2 class="text-center">Registration form</h2>
<form  method="post" class="form-control mt-5" action="/action">

    <input type="text" name="name" placeholder="name" class="form-control"> <br>
    <input type="text" name="email" placeholder="email" class="form-control"> <br>
    <input type="text" name="password" placeholder="password" class="form-control"> <br>
    <input type="text" name="mobileno" placeholder="mobileno" class="form-control"> <br>

    
<input type="submit" class="btn btn-danger">
</form>
</div>