<h1>Login</h1>
<div class="container w-50">
    
<form method="POST" action="/login1">

    <label for="password">password:</label>
    <input type="password" name="password" id="password" class="form-control" ><br>


    <label for="email">email:</label>
    <input type="email" name="email" id="email"  class="form-control"><br>
    <input type="submit" value="submit" class="btn btn-danger">

</form>
</div>