
{{#each data3}}
<h4>welcome:{{this.name}}</h4>
{{/each}}



<h1 class="text-center">PUBLISHED PRODUCTS</h1>



<a href="userproduct">productview</a> <br>

<a href="userbuyview">user_purchase_view</a>