<h1 class="text-center">userbuyview</h1>

<div class="container-fluid ">
    <table border="1" class="mt-3">
        <tr>
             <th>name</th>

             <th>author</th>
             <th>bookname</th>
             <th>price</th>
        </tr>
        {{#each data9}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.author}}</td>
            <td>{{this.bookname}}</td>
            <td>{{this.price}}</td>
        </tr>
            {{/each}}
    </table>

</div>